<p>
  <label>Mode</label>
  <%= select_tag 'settings[mode]', options_for_select([nil, 'nginx'], @settings['mode']), :onchange => "$$('.xsendfile').invoke('hide'); if (this.value) { $('xsendfile_' + this.value).show(); }" %>
</p>

<div id="xsendfile_nginx" class="xsendfile wiki" style="<% if @settings['mode'] != 'nginx' %>display: none;<% end %>">
This should be added to nginx config:
<pre>
location /xsendfile/ {
    alias  <%= Attachment.storage_path %>/;
    internal;
}</pre>
</div>
